body{
    background-image: url('/assets/img/bg.png');
    background-repeat:no-repeat;
  
}

form {
    position: relative;
    display: inline-block;
    font-size: 0;
    text-align: center;
  }
  
  .proxy[type="text"] {
    width: 200px;
    height: 30px;
    padding: 0 10px;
    border-radius: 15px;
    border: none;
    outline: none;
  }
  
  
  